<!DOCTYPE html>
<html>
  <head>
    <title>Eventbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript">
       window.images = {
         profile_icon: "<%= asset_path('profile_icon.png')%>",
         party_pic: "<%= asset_path('party_pic.jpg')%>",
         search_icon: "<%= asset_path('search_icon.png')%>",
         generic_event: "<%= asset_path('generic_event.jpg')%>",
         unliked: "<%= asset_path('unliked.png')%>",
         liked: "<%= asset_path('liked.png')%>"

       }
     </script>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => 'image/png' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
